.bg1 {
  background-image: url("../assets/section3bg.png");
  background-size: cover;
}

.homeBg {
  background-image: url("../assets/blueblue.jpg");
  background-size: contain;
  background-repeat: repeat;
}
.homeBgs {
  background: linear-gradient(
    to right,
    #002b6a,
    #002c6b,
    #004588,
    #002b6a,
    #002b6a,
    #003271,
    #004588,
    #002c6b,
    #002b6a
  );
  background-size: cover;
  background-repeat: repeat-y;
}
.projectBg {
  background-image: linear-gradient(
      to right,
      rgba(0, 43, 106, 0.2),
      rgba(0, 43, 106, 1)
    ),
    url("../assets/calling.jpg");
  background-size: cover;
}

@media screen and (max-width: 950px) {
  .projectBg {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 43, 106, 0.2),
        rgba(0, 43, 106, 1)
      ),
      url("../assets/calling.jpg");
    background-size: cover;
  }
}
.waving {
  color: orange;
  animation: wave 1.5s infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Animations */
@keyframes slide-in-left {
  0% {
    transform: translateX(-100vw) translateY(50px) rotate(-40deg);
  }
  25% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  75% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) translateY(500px) rotate(0deg);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100vw) translateY(-50px) rotate(-40deg);
  }
  25% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  75% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) translateY(500px) rotate(0deg);
  }
}

/* Apply animations to elements */
.slide-in-left {
  animation: slide-in-left 3s infinite linear;
}

.slide-in-right {
  animation: slide-in-right 3s infinite linear;
}

.overlay {
  background-color: rgba(24, 76, 136, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.modalContainer {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1), 0 20px 40px rgba(0, 0, 0, 0.06);
}

.modalContent {
  animation: expandAnimation 1s ease-in-out forwards; /* Use the expandAnimation */
}

@keyframes expandAnimation {
  0% {
    width: 50px; /* Initial width */
    height: 50px; /* Initial height */
    border-radius: 50%;
    top: 0;
    place-self: end;
  }
  100% {
    width: 100%; /* Final width */
    height: 100%; /* Final height */
    border-radius: 0; /* No border radius */
  }
}

@keyframes shake {
  0%, 100% { transform: translate(0, 0) rotate(0); }
  25%, 75% { transform: translate(-5px, 0) rotate(-5deg); }
  50% { transform: translate(5px, 0) rotate(5deg); }
}

.animate-shake {
  animation: shake 2s ease-in-out infinite; /* Adjust animation duration as needed */
  animation-delay: 2s; /* Delay before starting the animation */
}
